@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root, :root[data-theme='dark'] {
  --primary-color: #C7A563;
  --primary-icon-color: #C7A563;
  --primary-icon-active-color: #ddb86e;
  --primary-bg-color: #1F403D;
  --secondary-bg-color: #2C524F;
  --border-color: #2C524F;
  --title-color: #C7A563;
  --text-color: #B0C4BF;
}

:root[data-theme='light'] {
  --primary-color: #1F403D;
  --primary-icon-color: #1F403D;
  --primary-icon-active-color: #2e5d59;
  --primary-bg-color: #F5F7F7;
  --secondary-bg-color: #E0EAE9;
  --border-color: #E0EAE9;
  --title-color: #1F403D;
  --text-color: #4A6E6D;
}

html[data-theme='light'] .brand__logo {
  filter: invert(1);
}

body {
  background-color: var(--primary-bg-color);
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

i {
  color: var(--title-color)
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
}

.header__brand .brand__logo {
  width: 3.25rem;
  height: 3.25rem;
}

.header__toggle {
  display: flex;
  justify-content: flex-end;
}

#toggleTheme {
  font-size: 1.5rem;
  cursor: pointer;
  transition: ease-in-out .4s;
}

.menu {
  display: flex;
  align-items: center;
  background: var(--primary-bg-color);
}

.menu__item{
  width: 100%;
}

.menu--mobile {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid var(--border-color);
  justify-content: space-between;
}

.menu--mobile .menu__item {
  padding: .5rem 0;
}

.menu--mobile .menu__link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.menu__icon, .menu__text {
  color: var(--primary-icon-color);
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
  color: var(--primary-icon-active-color);
  font-weight: 600;
}

.menu_icon {
  font-size: 1.5rem;
}

.menu__text {
  font-size: .75rem;
  text-transform: uppercase;
}

.menu--principal {
  gap: 1rem;
}

.header__nav {
  display: none;
}

@media (min-width: 768px) {
  header {
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    background-color: var(--primary-bg-color);
  }
  
  .nav--mobile{
    display: none;
  }

  .header__nav{
    display: flex;
  }

  .header__toggle, .header__brand{
    min-width: 30%;
  }
}