@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root, :root[data-theme='dark'] {
  --primary-color: #C7A563;
  --primary-icon-color: #C7A563;
  --primary-icon-active-color: #ddb86e;
  --primary-bg-color: #1F403D;
  --secondary-bg-color: #2C524F;
  --border-color: #2C524F;
  --title-color: #C7A563;
  --text-color: #B0C4BF;
}

:root[data-theme='light'] {
  --primary-color: #1F403D;
  --primary-icon-color: #1F403D;
  --primary-icon-active-color: #2e5d59;
  --primary-bg-color: #F5F7F7;
  --secondary-bg-color: #E0EAE9;
  --border-color: #E0EAE9;
  --title-color: #1F403D;
  --text-color: #4A6E6D;
}

html[data-theme='light'] .brand__logo {
  filter: invert(1);
}

body {
  background-color: var(--primary-bg-color);
  font-family: 'Inter', sans-serif;
}

b {
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
}

h1, h2, h3 {
  font-family: 'League Spartan', sans-serif;
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 200;
}

p {
  font-size: 1.25rem;
  text-align: justify;
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

i {
  color: var(--title-color)
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
}

.header__brand .brand__logo {
  width: 3.25rem;
  height: 3.25rem;
}

.header__toggle {
  display: flex;
  justify-content: flex-end;
}

#toggleTheme {
  font-size: 1.5rem;
  cursor: pointer;
  transition: ease-in-out .4s;
}

.menu {
  display: flex;
  align-items: center;
  background: var(--primary-bg-color);
}

.menu__item{
  width: 100%;
}

.menu--mobile {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid var(--border-color);
  justify-content: space-between;
}

.menu--mobile .menu__item {
  padding: .5rem 0;
}

.menu--mobile .menu__link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.menu__icon, .menu__text {
  color: var(--primary-icon-color);
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
  color: var(--primary-icon-active-color);
  font-weight: 600;
}

.menu_icon {
  font-size: 1.5rem;
}

.menu__text {
  font-size: .75rem;
  text-transform: uppercase;
}

.menu--principal {
  gap: 1rem;
}

.menu--social {
  gap: 1rem;
}

.header__nav {
  display: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;
  width: 100%;
  background: transparent;
  border-radius: 3.125rem;
  padding: 0.875rem 1.5rem;
  transition: ease-in-out .3s;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
  transition: ease-in-out .3s;
}

.btn--primary {
  border: 1px solid var(--primary-color);
}

.btn--primary span {
  color: var(--primary-color);
}

.btn span, .btn i {
  font-size: 1.25rem;
  text-transform: uppercase;
}

main {
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main__content1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main__content2 iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  padding: 6.25rem 1rem 2rem 1rem;
  background-color: var(--secondary-bg-color);
  margin-top: -5.5rem;
}

.skills h2 {
  text-transform: none;
  font-size: 2rem;
}

.skills__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: .8rem;
}

.skills__item {
  width: 4.8rem;
  height: 4.8rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--primary-icon-color);
  border-radius: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.skills__logo {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header {
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    background-color: var(--primary-bg-color);
  }
  
  .nav--mobile{
    display: none;
  }

  .header__nav{
    display: flex;
  }

  .header__toggle, .header__brand{
    min-width: 30%;
  }

  h1 {
    font-size: 4rem;
  }
  
  main {
    padding: 8rem 6rem 4rem 6rem;
  }

  .main__content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .skills {
    margin-top: -6rem;
  }
}

@media (min-width: 1200px){
  main {
    padding: 12rem 6rem 2rem;
  }
  .main__content1 .btn {
    width: auto;
  }

  .skills {
    padding: 10rem 6rem 4rem;
  }

  .skills h2{
    font-size: 3rem;
    width: 60%;
  }

  .skills__list{
    gap: 1rem;
  }

  .skills__item{
    width: 6rem;
    height: 6rem;
  }

  .skills__logo{
    font-size: 3rem;
  }

  .menu__icon {
    font-size: 2rem;
  }

  .menu__text {
    font-size: .9rem;
  }
}

@media (min-width: 1400px){
  main {
    padding: 12rem 15rem 2rem;
  } 

  p {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 6.25rem;
  }
}